.playground {
    width: 50%;
    height: 50%;
    margin: auto;
}

html, body, #root {
    height: 100%;
}

.ball {
    background-color: black;
    box-shadow: 0 10px 10px -6px rgba(0,0,0,0.5);
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
